.card-img {
    height: 400px; 
    object-fit: cover; 
    margin-bottom: 20px; 
}

.item-details-card {
    width: 80%; 
    max-width: 800px; 
    margin: 20px 0; 
    padding: 20px; 
    border-radius: 10px; 
}

.price {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-top: 20px;
}

.stock {
    font-size: 1rem; 
    font-weight: bold;
    margin-top: 20px;
}

/* ItemDetailsContainer.css */

/* Ajustes adicionales para los botones si es necesario */
.item-count-button {
    margin: 0 5px;
}

.item-count-container {
    display: flex;
    align-items: center;
}
